body{
    font-family: 'Poppins', sans-serif;
}

.hero-image {
    background-image: url("images/health.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.health-image {
    background-image: url("images/health.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.predict-image {
    background-image: url("images/AIPredict.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.manageHealth-image {
    background-image: url("images/ManageHealthTilt.jpg");
    height: 500px;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hospital-image {
    background-image: url("images/FindNearbyHospital.jpg");
    height: 500px;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.limit-lines {
    max-height: 6em; /* Adjust the height to accommodate the desired number of lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Adjust the line clamp value to fit the desired number of lines */
    -webkit-box-orient: vertical;
  }

.feature {
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 18px;
}

.about-section {
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.about-reason {
    font-style: italic;
}

.sidebar {
    position: sticky;
    top: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
}
