body{
    font-family: 'Poppins', sans-serif;
}

.hero-image {
    background-image: url("images/health.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.health-image {
    background-image: url("images/health.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.predict-image {
    background-image: url("images/ldmpsPredict.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.manageHealth-image {
    background-image: url("images/ldpmsUserDashboard.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.hospital-image {
    background-image: url("images/ldpmsFindNearbyHospital.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.limit-lines {
    max-height: 6em; /* Adjust the height to accommodate the desired number of lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Adjust the line clamp value to fit the desired number of lines */
    -webkit-box-orient: vertical;
  }

.feature {
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}


.feature-title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.feature-description {
    font-size: 18px;
    color: #555;
}

.feature-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.about-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    margin-bottom: 15px;
}

.about-reason {
    font-style: italic;
    font-size: 16px;
    color: #555;
}


.navbar {
    background-color: #a5e4e1;
}

.sidebar {
    position: sticky;
    background-color: #a5e4e1;
    top: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
}

.button {
    background-color: #a5e4e1;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
}

.form-inline .nav-link:hover {
    font-weight: bold;
}

.nav .custom-nav-link.active {
    background-color: white;
    padding: 20px;
    /* Add any additional styles as needed */
}

.border-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
}
  
.standard-box {
    text-align: center;
    width: 420px;
}

.fixed-box-vertical {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    width: 250px;
}

.box-content {
    margin-top: 20px;
    text-align: center;
}
  
.table-header {
    background-color: #e9ecef;
}

.table-content1 {
    background-color: #2ba202;
}

.table-content2 {
    background-color: #Eaf414;
}

.table-content3 {
    background-color: #D71316;
}