body{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.hero-image {
    background-image: url("images/health.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}