<!-- Asthma Prediction Content-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Asthma Prediction</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Google supported fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var predictionTarget = document.querySelectorAll('input[name="predictionTarget"]');
                var referenceNameGroup = document.getElementById('referenceNameGroup');
                var referenceNameInput = document.getElementById('referenceName');
        
                for (var i = 0; i < predictionTarget.length; i++) {
                    predictionTarget[i].addEventListener('change', function() {
                        if (this.value === 'Others') {
                            referenceNameGroup.style.display = 'block';
                            referenceNameInput.required = true;
                        } else {
                            referenceNameGroup.style.display = 'none';
                            referenceNameInput.required = false;
                        }
                    });
                }
            });
        </script>
        <script>
            $(document).ready(function() {
              // Auto-fill age and gender for "Myself" prediction target
              var predictionTarget = $('input[name="predictionTarget"]');
              var ageInput = $('#age');
              var sexInput = $('#sex');
              var age = "{{ user.u_age }}";
              var gender = "{{ user.u_gender }}";
          
              // Store gender value in data attribute
              sexInput.data('gender', gender);
          
              function updateFields() {
                if (predictionTarget.filter(':checked').val() === 'Myself') {
                  ageInput.val(age);
                  sexInput.val(sexInput.data('gender'));
                } else {
                  ageInput.val('');
                  sexInput.val('');
                }
              }
          
              // Attach event listener to prediction target
              predictionTarget.on('change', function() {
                updateFields();
              });
          
              // Trigger initial update on page load
              updateFields();
          
              // Select the correct gender option
              if (sexInput.data('gender') === 'Male') {
                sexInput.val('1');
              } else if (sexInput.data('gender') === 'Female') {
                sexInput.val('0');
              }
            });
        </script>
    </head>
    <body>
        <!-- Include the modals -->
        {% include 'logout.html' %}
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <a class="navbar-brand" href="#" style="color:#6a6b6b">Lifestyle Disease Prediction and Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0" >
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myProfileModal" style="color:#6a6b6b">My Profile</a>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal"  style="color:#6a6b6b">Logout</a>
                </form>
            </div>
        </nav>

        <!-- Side Bar -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 sidebar" id="sidebar">
                    <div class="nav flex-column nav-pills" aria-orientation="vertical">
                        <a class="nav-link" href="{{ url_for('views.userdashboard') }}" aria-selected="true" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;">Home</a>
                        <a class="nav-link" href="{{ url_for('views.diabetesPredictionForm') }}"  aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;">Diabetes Prediction</a>
                        <a class="nav-link" href="{{ url_for('views.strokePredictionForm') }}" aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;">Stroke Prediction</a>
                        <a class="nav-link custom-nav-link active" href="#" aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;">Asthma Prediction</a>
                        <a class="nav-link" href="{{ url_for('views.pastPredictionRecords') }}" aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;">Past Prediction Records</a>
                        <a class="nav-link" href="{{ url_for('views.findNearbyHospital') }}" aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;">Find Nearby Hospital</a>
                        <a class="nav-link" href="{{ url_for('views.feedbackForm') }}" aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;">Feedback</a>
                    </div>
                </div>

                <div class="col-sm-10"><br>
                    <div class="container">
                        <h1 style="text-align: center;">Asthma Prediction</h1>
                        <div class="alert alert-info" role="alert">
                            This prediction model is by Extreme Gradient Boosting (XGBoost), and it has an accuracy of 97%. However, it should be treated as a prediction and not a substitute for professional medical advice. It is important to consult a healthcare professional for a definitive diagnosis and medical advice.
                        </div>
                        <form method="POST" action="/asthmaPrediction">
                            <div class="form-group">
                                <label for="predictionTarget">Prediction Target:</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="predictionTarget" id="Myself" value="Myself" checked>
                                    <label class="form-check-label" for="Myself">Predict for myself</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="predictionTarget" id="Others" value="Others">
                                    <label class="form-check-label" for="Others">Predict for others</label>
                                </div>
                            </div>
                            <div class="form-group" id="referenceNameGroup" style="display: none;">
                                <label for="referenceName">Reference Name:</label>
                                <input type="text" class="form-control" name="referenceName" id="referenceName" placeholder="Enter reference name">
                            </div>
                            <div class="form-group">
                                <label for="age">Age:</label>
                                <input type="number" class="form-control" name="age" id="age" placeholder="Enter your age" required>
                            </div>
                            <div class="form-group">
                                <label for="sex">Gender:</label>
                                <select class="form-control" name="sex" id="sex" required>
                                    <option value="" disabled selected>Select your gender</option>
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sleeping">Sleeping Difficulty:</label>
                                <select class="form-control" name="sleeping" id="sleeping" required>
                                    <option value="" disabled selected>Do you have difficulty sleeping?</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="chesttight">Chest Tightness:</label>
                                <select class="form-control" name="chesttight" id="chesttight" required>
                                    <option value="" disabled selected>Do you have chest tight?</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="breath">Shortness of Breath:</label>
                                <select class="form-control" name="breath" id="breath" required>
                                    <option value="" disabled selected>Do you often feel shortness of breath?</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cough">Cough:</label>
                                <select class="form-control" name="cough" id="cough" required>
                                    <option value="" disabled selected>Do you have cough?</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="allergy">Allergies:</label>
                                <select class="form-control" name="allergy" id="allergy" required>
                                    <option value="" disabled selected>Do you have allergy?</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="wheezing">Wheezing:</label>
                                <select class="form-control" name="wheezing" id="wheezing" required>
                                    <option value="" disabled selected>Do you have wheezing?</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg col-sm-3">Predict</button>
                            </div>
                        </form>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>

        <!-- My Profile Modal -->
        <div class="modal fade" id="myProfileModal" tabindex="-1" role="dialog" aria-labelledby="myProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myProfileModalLabel">My Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="editProfileBtn" data-toggle="modal" data-target="#editProfileModal" data-dismiss="modal">Edit Profile</button>
                            <button type="button" class="btn btn-primary" id="changePasswordBtn"data-toggle="modal" data-target="#changePasswordModal" data-dismiss="modal" >Change Password</button>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" value="{{ user.u_username }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" value="{{ user.u_fname }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" value="{{ user.u_lname }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" value="{{ user.u_email }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" value="{{ user.u_age }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <input type="text" class="form-control" id="gender" value="{{ user.u_gender }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="tel" class="form-control" id="phoneNumber" value="{{ user.u_hpnumber }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address" rows="3" readonly>{{ user.u_address }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change Password Modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/change-u_password/{{ user.u_id }}">
                            <div class="form-group">
                                <label for="u_password">Current Password</label>
                                <input type="text" class="form-control" name="u_password" id="u_password" placeholder="Enter your current password" required>
                            </div>
                            <div class="form-group">
                                <label for="u_newPW">New Password</label>
                                <input type="text" class="form-control" name="u_newPW" id="u_newPW" placeholder="Enter your new password" required>
                            </div>
                            <div class="form-group">
                                <label for="u_newPWconfirmed">Confirm New Password</label>
                                <input type="text" class="form-control" name="u_newPWconfirmed" id="u_newPWconfirmed" placeholder="Enter your new password again" required>
                            </div>
                            <div class="form-group">
                                <p><input type="submit" class="btn btn-primary" value="Change Password"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Profile Modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit My Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/edit-profile/{{ user.u_id }}">
                            <div class="form-group">
                                <label for="u_fname">First Name</label>
                                <input type="text" class="form-control" name="u_fname" id="u_fname" value="{{ user.u_fname }}" required>
                            </div>
                            <div class="form-group">
                                <label for="u_lname">Last Name</label>
                                <input type="text" class="form-control" name="u_lname" id="u_lname" value="{{ user.u_lname }}" required>
                            </div>
                            <div class="form-group">
                                <label for="u_age">Age</label>
                                <input type="number" class="form-control" name="u_age" id="u_age" value="{{ user.u_age }}" required>
                            </div>
                            <div class="form-group">
                                <label for="u_gender" class="col-form-label">Gender:</label>
                                <select id="u_gender" name="u_gender" class="form-control" required>
                                    <option value="" disabled>Select gender</option>
                                    <option value="Male" {% if user.u_gender == 'Male' %}selected{% endif %}>Male</option>
                                    <option value="Female" {% if user.u_gender == 'Female' %}selected{% endif %}>Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="u_hpnumber">Phone Number</label>
                                <input type="number" class="form-control" name="u_hpnumber" id="u_hpnumber" value="{{ user.u_hpnumber }}" required>
                            </div>
                            <div class="form-group">
                                <label for="u_address">Address</label>
                                <textarea class="form-control" name="u_address" id="u_address" rows="3" required>{{ user.u_address }}</textarea>
                            </div>
                            <div class="form-group">
                                <p><input type="submit" class="btn btn-primary" value="Update Profile"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    





    </body>
</html>

