<!-- Diabetes Prediction Content-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Diabetes Prediction</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Google supported fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var predictionTarget = document.querySelectorAll('input[name="predictionTarget"]');
                var referenceNameGroup = document.getElementById('referenceNameGroup');
                var referenceNameInput = document.getElementById('referenceName');
        
                for (var i = 0; i < predictionTarget.length; i++) {
                    predictionTarget[i].addEventListener('change', function() {
                        if (this.value === 'Others') {
                            referenceNameGroup.style.display = 'block';
                            referenceNameInput.required = true;
                        } else {
                            referenceNameGroup.style.display = 'none';
                            referenceNameInput.required = false;
                        }
                    });
                }
            });
        </script>
        <script>
            $(document).ready(function() {
              // Auto-fill age for "myself" prediction target
              var predictionTarget = $('input[name="predictionTarget"]');
              var ageInput = $('#age');
              var age = "{{ user.u_age }}";
          
              function updateFields() {
                if (predictionTarget.filter(':checked').val() === 'Myself') {
                  ageInput.val(age);
                } else {
                  ageInput.val('');
                }
              }
          
              // Attach event listener to prediction target
              predictionTarget.on('change', function() {
                updateFields();
              });
          
              // Trigger initial update on page load
              updateFields();
            });
        </script>
    </head>
    <body>
        <!-- Include the modals -->
        {% include 'logout.html' %}
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Lifestyle Disease Prediction and Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myProfileModal">My Profile</a>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal" >Logout</a>
                </form>
            </div>
        </nav>

        <!-- Side Bar -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 sidebar" id="sidebar">
                    <div class="nav flex-column nav-pills" aria-orientation="vertical">
                        <a class="nav-link" href="{{ url_for('views.userdashboard') }}" aria-selected="true" style="margin-bottom: 15px;">Home</a>
                        <a class="nav-link active" href="#"  aria-selected="false" style="margin-bottom: 15px;">Diabetes Prediction</a>
                        <a class="nav-link" href="{{ url_for('views.strokePredictionForm') }}" aria-selected="false" style="margin-bottom: 15px;">Stroke Prediction</a>
                        <a class="nav-link" href="{{ url_for('views.asthmaPredictionForm') }}" aria-selected="false" style="margin-bottom: 15px;" >Asthma Prediction</a>
                        <a class="nav-link" href="{{ url_for('views.pastPredictionRecords') }}" aria-selected="false" style="margin-bottom: 15px;">Past Prediction Records</a>
                        <a class="nav-link" href="{{ url_for('views.findNearbyHospital') }}" aria-selected="false" style="margin-bottom: 15px;">Find Nearby Hospital</a>
                        <a class="nav-link" href="{{ url_for('views.feedbackForm') }}" aria-selected="false" style="margin-bottom: 15px;">Feedback</a>
                    </div>
                </div>

                <div class="col-sm-10"><br>
                    <div class="container">
                        <h1 class="text-center">Diabetes Prediction</h1>
                        <form method="POST" action="/diabetesPrediction">
                            <div class="form-group">
                                <label for="predictionTarget">Prediction Target:</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="predictionTarget" id="Myself" value="Myself" checked>
                                    <label class="form-check-label" for="Myself">Predict for myself</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="predictionTarget" id="Others" value="Others">
                                    <label class="form-check-label" for="Others">Predict for others</label>
                                </div>
                            </div>
                            <div class="form-group" id="referenceNameGroup" style="display: none;">
                                <label for="referenceName">Reference Name:</label>
                                <input type="text" class="form-control" name="referenceName" id="referenceName" placeholder="Enter reference name">
                            </div>
                            <div class="form-group">
                                <label for="age">Age:</label>
                                <input type="number" class="form-control" id="age" name="age" placeholder="Enter your age" min="18" required>
                            </div>
                            <div class="form-group">
                                <label for="highChol">High Cholesterol:</label>
                                <select class="form-control" id="highChol" name="highChol" required>
                                    <option value="" disabled selected>Do you have high cholesterol?</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bmi">BMI:</label>
                                <input type="number" class="form-control" id="bmi" name="bmi" placeholder="Enter your body mass index" required>
                            </div>
                            <div class="form-group">
                                <label for="smoker">Smoker:</label>
                                <select class="form-control" id="smoker" name="smoker" required>
                                    <option value="" disabled selected>Have you smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes]</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="heartdisease">Heart Disease / Heart Attack:</label>
                                <select class="form-control" id="heartdisease" name="heartdisease" required>
                                    <option value="" disabled selected>Do you have coronary heart disease (CHD) or myocardial infarction (MI)</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="physactivity">Physical Activity:</label>
                                <select class="form-control" id="physactivity" name="physactivity" required>
                                    <option value="" disabled selected>Have you ever exercise in past 30 days?</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fruits">Fruits:</label>
                                <select class="form-control" id="fruits" name="fruits" required>
                                    <option value="" disabled selected>Do you eat fruit everyday?</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="veggies">Veggies:</label>
                                <select class="form-control" id="veggies" name="veggies" required>
                                    <option value="" disabled selected>Do you eat vegetable everyday?</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hvyalcoholconsump">Heavy Alcohol Consumption:</label>
                                <select class="form-control" id="hvyalcoholconsump" name="hvyalcoholconsump" required>
                                    <option value="" disabled selected>Are you heavy alcohol drinker? (adult men >=14 drinks per week and adult women>=7 drinks per week)</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="generalHealth">General Health:</label>
                                <select class="form-control" id="generalHealth" name="generalHealth" required>
                                    <option value="" disabled selected>Rate your health in general.</option>
                                    <option value="1">Excellent</option>
                                    <option value="2">Very Good</option>
                                    <option value="3">Good</option>
                                    <option value="4">Fair</option>
                                    <option value="5">Poor</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="physicalHealth">Physical Health:</label>
                                <input type="number" class="form-control" id="physicalHealth" name="physicalHealth" min="0" max="30" placeholder="Do you have any physical illness or injuries in the past 30 days? If no, put 0." required>
                            </div>
                            <div class="form-group">
                                <label for="stroke">Stroke:</label>
                                <select class="form-control" id="stroke" name="stroke" required>
                                    <option value="" disabled selected>Do you have stroke?</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="highBP">High Blood Pressure:</label>
                                <select class="form-control" id="highBP" name="highBP" required>
                                    <option value="" disabled selected>Do you have high blood pressure?</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Predict</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <!-- My Profile Modal -->
         <div class="modal fade" id="myProfileModal" tabindex="-1" role="dialog" aria-labelledby="myProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myProfileModalLabel">My Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="editProfileBtn" data-toggle="modal" data-target="#editProfileModal" data-dismiss="modal">Edit Profile</button>
                            <button type="button" class="btn btn-primary" id="changePasswordBtn"data-toggle="modal" data-target="#changePasswordModal" data-dismiss="modal" >Change Password</button>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" value="{{ user.u_username }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" value="{{ user.u_fname }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" value="{{ user.u_lname }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" value="{{ user.u_email }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" value="{{ user.u_age }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <input type="text" class="form-control" id="gender" value="{{ user.u_gender }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="tel" class="form-control" id="phoneNumber" value="{{ user.u_hpnumber }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address" rows="3" readonly>{{ user.u_address }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change Password Modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/change-u_password/{{ user.u_id }}">
                            <div class="form-group">
                                <label for="u_password">Current Password</label>
                                <input type="text" class="form-control" name="u_password" id="u_password" placeholder="Enter your current password" required>
                            </div>
                            <div class="form-group">
                                <label for="u_newPW">New Password</label>
                                <input type="text" class="form-control" name="u_newPW" id="u_newPW" placeholder="Enter your new password" required>
                            </div>
                            <div class="form-group">
                                <label for="u_newPWconfirmed">Confirm New Password</label>
                                <input type="text" class="form-control" name="u_newPWconfirmed" id="u_newPWconfirmed" placeholder="Enter your new password again" required>
                            </div>
                            <div class="form-group">
                                <p><input type="submit" class="btn btn-primary" value="Change Password"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Profile Modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit My Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/edit-profile/{{ user.u_id }}">
                            <div class="form-group">
                                <label for="u_fname">First Name</label>
                                <input type="text" class="form-control" name="u_fname" id="u_fname" value="{{ user.u_fname }}" required>
                            </div>
                            <div class="form-group">
                                <label for="u_lname">Last Name</label>
                                <input type="text" class="form-control" name="u_lname" id="u_lname" value="{{ user.u_lname }}" required>
                            </div>
                            <div class="form-group">
                                <label for="u_age">Age</label>
                                <input type="number" class="form-control" name="u_age" id="u_age" value="{{ user.u_age }}" required>
                            </div>
                            <div class="form-group">
                                <label for="u_gender" class="col-form-label">Gender:</label>
                                <select id="u_gender" name="u_gender" class="form-control" required>
                                    <option value="" disabled>Select gender</option>
                                    <option value="Male" {% if user.u_gender == 'Male' %}selected{% endif %}>Male</option>
                                    <option value="Female" {% if user.u_gender == 'Female' %}selected{% endif %}>Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="u_hpnumber">Phone Number</label>
                                <input type="tel" class="form-control" name="u_hpnumber" id="u_hpnumber" value="{{ user.u_hpnumber }}" required>
                            </div>
                            <div class="form-group">
                                <label for="u_address">Address</label>
                                <textarea class="form-control" name="u_address" id="u_address" rows="3" required>{{ user.u_address }}</textarea>
                            </div>
                            <div class="form-group">
                                <p><input type="submit" class="btn btn-primary" value="Update Profile"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
