<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin Dashboard</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Google supported fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    alert("{{ messages[0] }}");
                </script>
            {% endif %}
        {% endwith %}
    </head>
    <body>
        <!-- Include the modals -->
        {% include 'logout.html' %}
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <a class="navbar-brand" href="#" style="color:#6a6b6b">Lifestyle Disease Prediction and Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0" >
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myProfileModal" style="color:#6a6b6b"><i class="fa-solid fa-user"></i> My Profile</a>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal"  style="color:#6a6b6b"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </form>
            </div>
        </nav>
        
        <!-- Side Bar -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 sidebar" id="sidebar">
                    <div class="nav flex-column nav-pills" aria-orientation="vertical">
                        <a class="nav-link" href="{{ url_for('views.admindashboard') }}" aria-selected="true" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;"><i class="fa-solid fa-chart-pie"></i> Charts & Statistics</a>
                        <a class="nav-link custom-nav-link active" href="#"  aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;"><i class="fa-solid fa-users"></i> Manage User Account</a>
                        <a class="nav-link" href="{{ url_for('views.viewPredictionReports') }}" aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;"><i class="fa-solid fa-table"></i> View Prediction Report</a>
                        <a class="nav-link" href="{{ url_for('views.getUserFeedback') }}" aria-selected="false" style="margin-bottom: 15px; color:#6a6b6b; font-weight:bold;"><i class="fa-sharp fa-solid fa-comments"></i> View Feedback</a>
                    </div>
                </div>

                <div class="col-sm-10"><br>
                    <div class="container-fluid">
                        <h1>Manage User Account</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <th>User Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in user %}
                                <tr>
                                    <td>{{ user.u_id }}</td>
                                    <td>{{ user.u_username }}</td>
                                    <td>{{ user.u_fname }}</td>
                                    <td>{{ user.u_lname }}</td>
                                    <td>{{ user.u_email }}</td>
                                    <td>{{ user.u_age }}</td>
                                    <td>{{ user.u_gender }}</td>
                                    <td>{{ user.u_hpnumber }}</td>
                                    <td>{{ user.u_address }}</td>
                                    <td>{{ user.u_usertype }}</td>
                                    <td>
                                        <button class="btn btn-success" data-toggle="modal" data-target="#editUserModal{{ user.u_id }}" title="Edit"><i class="fa-solid fa-pen-to-square"></i></button>
                                        {% if user.u_id in asthma_predictions or user.u_id in diabetes_predictions or user.u_id in stroke_predictions %}
                                            <button class="btn btn-danger" title="This user has prediction records, cannot be deleted" disabled><i class="fa-solid fa-trash"></i></button>
                                        {% else %}
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal{{ user.u_id }}" title="Delete"><i class="fa-solid fa-trash"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <!-- Edit User Modal -->
                                <div class="modal fade" id="editUserModal{{ user.u_id }}" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                            <form id="editUserForm" action="/edit_user/{{ user.u_id }}" method="POST">
                                                <div class="form-group">
                                                    <label for="u_fname">First Name</label>
                                                    <input type="text" class="form-control" name="u_fname" id="u_fname" value="{{ user.u_fname }}" onchange="this.value = this.value.trim();" required pattern="[A-Za-z ]+">
                                                </div>
                                                <div class="form-group">
                                                    <label for="u_lname">Last Name</label>
                                                    <input type="text" class="form-control" name="u_lname" id="u_lname" value="{{ user.u_lname }}" onchange="this.value = this.value.trim();" required pattern="[A-Za-z ]+">
                                                </div>
                                                <div class="form-group">
                                                    <label for="u_email">Email</label>
                                                    <input type="email" class="form-control" name="u_email" id="u_email" value="{{ user.u_email }}" onchange="this.value = this.value.trim();"required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="u_age">Age</label>
                                                    <input type="number" class="form-control" name="u_age" id="u_age" value="{{ user.u_age }}" onchange="this.value = this.value.trim();" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="u_gender">Gender</label>
                                                    <select class="form-control" name="u_gender" id="u_gender" required>
                                                        <option value="" disabled>Select your gender</option>
                                                        <option value="Male" {% if user.u_gender == "Male" %} selected {% endif %}>Male</option>
                                                        <option value="Female" {% if user.u_gender == "Female" %} selected {% endif %}>Female</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="u_hpnumber">Phone Number</label>
                                                    <input type="tel" class="form-control" name="u_hpnumber" id="u_hpnumber" value="{{ user.u_hpnumber }}" onchange="this.value = this.value.trim();" required pattern="^(\+?6?01)[0-46-9]-*[0-9]{7,8}$">
                                                </div>
                                                <div class="form-group">
                                                    <label for="u_address">Address</label>
                                                    <textarea class="form-control" name="u_address" id="u_address" rows="3" onchange="this.value = this.value.trim();" required>{{ user.u_address }}</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <p><input type="submit" class="btn btn-primary" value="Update Profile"></p>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete User Modal -->
                                <div class="modal fade" id="deleteUserModal{{ user.u_id }}" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete the user with username: {{ user.u_username }}?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <a href="/delete_user/{{ user.u_id }}" class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- My Profile Modal -->
        <div class="modal fade" id="myProfileModal" tabindex="-1" role="dialog" aria-labelledby="myProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myProfileModalLabel">My Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="editProfileBtn" data-toggle="modal" data-target="#editProfileModal" data-dismiss="modal">Edit Profile</button>
                            <button type="button" class="btn btn-primary" id="changePasswordBtn"data-toggle="modal" data-target="#changePasswordModal" data-dismiss="modal" >Change Password</button>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="a_username">Username</label>
                                <input type="text" class="form-control" id="a_username" value="{{ admin.a_username }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="a_fname">First Name</label>
                                <input type="text" class="form-control" id="a_fname" value="{{ admin.a_fname }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="a_lname">Last Name</label>
                                <input type="text" class="form-control" id="a_lname" value="{{ admin.a_lname }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="a_email">Email</label>
                                <input type="email" class="form-control" id="a_email" value="{{ admin.a_email }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="a_hpnumber">Phone Number</label>
                                <input type="tel" class="form-control" id="a_hpnumber" value="{{ admin.a_hpnumber }}" readonly>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change Password Modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/change-password/{{ admin.a_id }}">
                            <div class="form-group">
                                <label for="a_password">Current Password</label>
                                <input type="text" class="form-control" name="a_password" id="a_password" placeholder="Enter your current password" onchange="this.value = this.value.trim();" required>
                            </div>
                            <div class="form-group">
                                <label for="a_newPW">New Password</label>
                                <input type="text" class="form-control" name="a_newPW" id="a_newPW" placeholder="Enter your new password" onchange="this.value = this.value.trim();" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^\w\d\s:])([^\s]){8,}$">
                            </div>
                            <div class="form-group">
                                <label for="a_newPWconfirmed">Confirm New Password</label>
                                <input type="text" class="form-control" name="a_newPWconfirmed" id="a_newPWconfirmed" placeholder="Enter your new password again" onchange="this.value = this.value.trim();" required>
                            </div>
                            <div class="form-group">
                                <p><input type="submit" class="btn btn-primary" value="Change Password"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Profile Modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit Admin Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/edit-aprofile/{{ admin.a_id }}">
                            <div class="form-group">
                                <label for="a_fname">First Name</label>
                                <input type="text" class="form-control" name="a_fname" id="a_fname" value="{{ admin.a_fname }}" onchange="this.value = this.value.trim();" required pattern="[A-Za-z ]+">
                            </div>
                            <div class="form-group">
                                <label for="a_lname">Last Name</label>
                                <input type="text" class="form-control" name="a_lname" id="a_lname" value="{{ admin.a_lname }}" onchange="this.value = this.value.trim();" required pattern="[A-Za-z ]+">
                            </div>
                            <div class="form-group">
                                <label for="a_hpnumber">Phone Number</label>
                                <input type="tel" class="form-control" name="a_hpnumber" id="a_hpnumber" value="{{ admin.a_hpnumber }}" onchange="this.value = this.value.trim();" required pattern="^(\+?6?01)[0-46-9]-*[0-9]{7,8}$">
                            </div>
                            <div class="form-group">
                                <p><input type="submit" class="btn btn-primary" value="Update Profile"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>