<!-- Reset Password Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resetPasswordModalLabel">Reset Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="resetPasswordForm" method="POST" action="{{ url_for('auth.reset_password') }}">
            <div class="form-group">
              <label for="u_email">Email</label>
              <input type="email" class="form-control" id="u_email" name="u_email" required>
            </div>
            <button type="submit" class="btn btn-primary">Send Email</button>
          </form>
        </div>
      </div>
    </div>
  </div>