<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User Dashboard</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Google supported fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Chart.js-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    </head>
    <body>
        <!-- Include the modals -->
        {% include 'logout.html' %}
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Lifestyle Disease Prediction and Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myProfileModal">My Profile</a>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal" >Logout</a>
                </form>
            </div>
        </nav>

        <!-- Side Bar -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 sidebar" id="sidebar">
                    <div class="nav flex-column nav-pills" aria-orientation="vertical">
                        <a class="nav-link active" href="#" aria-selected="true" style="margin-bottom: 15px;">Home</a>
                        <a class="nav-link" href="{{ url_for('views.diabetesPredictionForm') }}"  aria-selected="false" style="margin-bottom: 15px;">Diabetes Prediction</a>
                        <a class="nav-link" href="{{ url_for('views.strokePredictionForm') }}" aria-selected="false" style="margin-bottom: 15px;">Stroke Prediction</a>
                        <a class="nav-link" href="{{ url_for('views.asthmaPredictionForm') }}" aria-selected="false" style="margin-bottom: 15px;">Asthma Prediction</a>
                        <a class="nav-link" href="{{ url_for('views.pastPredictionRecords') }}" aria-selected="false" style="margin-bottom: 15px;">Past Prediction Records</a>
                        <a class="nav-link" href="{{ url_for('views.findNearbyHospital') }}" aria-selected="false" style="margin-bottom: 15px;">Find Nearby Hospital</a>
                        <a class="nav-link" href="{{ url_for('views.feedbackForm') }}" aria-selected="false" style="margin-bottom: 15px;">Feedback</a>
                    </div>
                </div>
                <div class="col-sm-10"><br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <canvas id="asthmaPredictionChart"></canvas>
                            </div>
                            <div class="col-md-4">
                                <canvas id="diabetesPredictionChart"></canvas>
                            </div>
                            <div class="col-md-4">
                                <canvas id="strokePredictionChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- My Profile Modal -->
        <div class="modal fade" id="myProfileModal" tabindex="-1" role="dialog" aria-labelledby="myProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myProfileModalLabel">My Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="editProfileBtn" data-toggle="modal" data-target="#editProfileModal" data-dismiss="modal">Edit Profile</button>
                            <button type="button" class="btn btn-primary" id="changePasswordBtn"data-toggle="modal" data-target="#changePasswordModal" data-dismiss="modal" >Change Password</button>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" value="{{ user.u_username }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" value="{{ user.u_fname }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" value="{{ user.u_lname }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" value="{{ user.u_email }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" value="{{ user.u_age }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <input type="text" class="form-control" id="gender" value="{{ user.u_gender }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="tel" class="form-control" id="phoneNumber" value="{{ user.u_hpnumber }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address" rows="3" readonly>{{ user.u_address }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change Password Modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/change-u_password/{{ user.u_id }}">
                            <div class="form-group">
                                <label for="u_password">Current Password</label>
                                <input type="text" class="form-control" name="u_password" id="u_password" placeholder="Enter your current password">
                            </div>
                            <div class="form-group">
                                <label for="u_newPW">New Password</label>
                                <input type="text" class="form-control" name="u_newPW" id="u_newPW" placeholder="Enter your new password">
                            </div>
                            <div class="form-group">
                                <label for="u_newPWconfirmed">Confirm New Password</label>
                                <input type="text" class="form-control" name="u_newPWconfirmed" id="u_newPWconfirmed" placeholder="Enter your new password again">
                            </div>
                            <div class="form-group">
                                <p><input type="submit" class="btn btn-primary" value="Change Password"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Profile Modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit My Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/edit-profile/{{ user.u_id }}">
                            <div class="form-group">
                                <label for="u_fname">First Name</label>
                                <input type="text" class="form-control" name="u_fname" id="u_fname" value="{{ user.u_fname }}">
                            </div>
                            <div class="form-group">
                                <label for="u_lname">Last Name</label>
                                <input type="text" class="form-control" name="u_lname" id="u_lname" value="{{ user.u_lname }}">
                            </div>
                            <div class="form-group">
                                <label for="u_age">Age</label>
                                <input type="number" class="form-control" name="u_age" id="u_age" value="{{ user.u_age }}">
                            </div>
                            <div class="form-group">
                                <label for="u_gender" class="col-form-label">Gender:</label>
                                <select id="u_gender" name="u_gender" class="form-control" required>
                                    <option value="" disabled>Select gender</option>
                                    <option value="Male" {% if user.u_gender == 'Male' %}selected{% endif %}>Male</option>
                                    <option value="Female" {% if user.u_gender == 'Female' %}selected{% endif %}>Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="u_hpnumber">Phone Number</label>
                                <input type="tel" class="form-control" name="u_hpnumber" id="u_hpnumber" value="{{ user.u_hpnumber }}">
                            </div>
                            <div class="form-group">
                                <label for="u_address">Address</label>
                                <textarea class="form-control" name="u_address" id="u_address" rows="3">{{ user.u_address }}</textarea>
                            </div>
                            <div class="form-group">
                                <p><input type="submit" class="btn btn-primary" value="Update Profile"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Get the data for the chart from Flask
            const asthmaPredictionData = {
              labels: ['Diagnosed Asthma', 'Not Diagnosed Asthma'],
              datasets: [{
                data: [{{ asthma_diagnosed_count }}, {{ asthma_not_diagnosed_count }}],
                backgroundColor: ['#FF6384', '#36A2EB'],
                borderWidth: 1
              }]
            };
          
            // Configure the chart options
            const asthmaPredictionOptions = {
              responsive: true,
              maintainAspectRatio: true,
              plugins: {
                title: {
                  display: true,
                  text: 'Personal Asthma Prediction Results',
                  font: {
                    size: 16,
                    weight: 'bold'
                  }
                },
                legend: {
                  display: true,
                  position: 'bottom',
                  labels: {
                    usePointStyle: true
                  }
                },
                datalabels: {
                  formatter: (value, context) => {
                    let sum = 0;
                    let dataArr = context.dataset.data;
                    dataArr.map(data => {
                      sum += data;
                    });
                    let percentage = ((value * 100) / sum).toFixed(2) + "%";
                    return percentage;
                  },
                  color: '#fff',
                  font: {
                    weight: 'bold'
                  }
                }
              }
            };
          
            // Create the pie chart
            const asthmaPredictionChart = new Chart(document.getElementById('asthmaPredictionChart'), {
              type: 'pie',
              data: asthmaPredictionData,
              options: asthmaPredictionOptions,
              plugins: [ChartDataLabels]
            });
        </script>
        <script>
            // Get the data for the chart from Flask
            const diabetesPredictionData = {
              labels: ['Diagnosed Diabetes', 'Not Diagnosed Diabetes'],
              datasets: [{
                data: [{{ diabetes_diagnosed_count }}, {{ diabetes_not_diagnosed_count }}],
                backgroundColor: ['#FF6384', '#36A2EB'],
                borderWidth: 1
              }]
            };
          
            // Configure the chart options
            const diabetesPredictionOptions = {
              responsive: true,
              maintainAspectRatio: true,
              plugins: {
                title: {
                  display: true,
                  text: 'Personal Diabetes Prediction Results',
                  font: {
                    size: 16,
                    weight: 'bold'
                  }
                },
                legend: {
                  display: true,
                  position: 'bottom',
                  labels: {
                    usePointStyle: true
                  }
                },
                datalabels: {
                  formatter: (value, context) => {
                    let sum = 0;
                    let dataArr = context.dataset.data;
                    dataArr.map(data => {
                      sum += data;
                    });
                    let percentage = ((value * 100) / sum).toFixed(2) + "%";
                    return percentage;
                  },
                  color: '#fff',
                  font: {
                    weight: 'bold'
                  }
                }
              }
            };
          
            // Create the pie chart
            const diabetesPredictionChart = new Chart(document.getElementById('diabetesPredictionChart'), {
              type: 'pie',
              data: diabetesPredictionData,
              options: diabetesPredictionOptions,
              plugins: [ChartDataLabels]
            });
        </script>
        <script>
            // Get the data for the chart from Flask
            const strokePredictionData = {
              labels: ['Diagnosed Stroke', 'Not Diagnosed Stroke'],
              datasets: [{
                data: [{{ stroke_diagnosed_count }}, {{ stroke_not_diagnosed_count }}],
                backgroundColor: ['#FF6384', '#36A2EB'],
                borderWidth: 1
              }]
            };
          
            // Configure the chart options
            const strokePredictionOptions = {
              responsive: true,
              maintainAspectRatio: true,
              plugins: {
                title: {
                  display: true,
                  text: 'Personal Stroke Prediction Results',
                  font: {
                    size: 16,
                    weight: 'bold'
                  }
                },
                legend: {
                  display: true,
                  position: 'bottom',
                  labels: {
                    usePointStyle: true
                  }
                },
                datalabels: {
                  formatter: (value, context) => {
                    let sum = 0;
                    let dataArr = context.dataset.data;
                    dataArr.map(data => {
                      sum += data;
                    });
                    let percentage = ((value * 100) / sum).toFixed(2) + "%";
                    return percentage;
                  },
                  color: '#fff',
                  font: {
                    weight: 'bold'
                  }
                }
              }
            };
          
            // Create the pie chart
            const strokePredictionChart = new Chart(document.getElementById('strokePredictionChart'), {
              type: 'pie',
              data: strokePredictionData,
              options: strokePredictionOptions,
              plugins: [ChartDataLabels]
            });
        </script>
          


    </body>
</html>